streamlit==1.38.0
langchain==0.2.16
langchain-google-genai==1.0.10
langchain-community==0.2.16
sentence-transformers==2.7.0
google-generativeai==0.7.2
python-dotenv==1.0.1
chromadb==0.4.24
numpy==1.24.4
pandas==2.0.3